/* Copyright (c) 2018-2021, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

#include "ipq5018-mp03.5-c1.dts"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ5018/AP-MP03.5-C2";
	compatible = "qcom,ipq5018-ap-mp03.5-c2", "qcom,ipq5018-mp03.5-c2", "qcom,ipq5018";
	interrupt-parent = <&intc>;

	aliases {
                spi0 = &spi_0;
		serial0 = &blsp1_uart1;
		serial1 = &blsp1_uart2;
		ethernet0 = "/soc/dp1";
		ethernet1 = "/soc/dp2";
	};

	soc {
		spi_0: spi@78b5000 { /* BLSP1 QUP0 */
			status = "ok";
		};

                /* wangyaoyang:
                 * emmc and nand-flash are sharing same GPIO pins
                 * only one of them can be enabled at one time
                * we choose to enable nand-flash here.
                */
		qpic_bam: dma@7984000{
			status = "ok";
		};

		nand: qpic-nand@79b0000 {
                        status = "ok";
		};

                /* wangyaoyang : Replace this generic GPIO-SPI driver with Aicom driver
                spi_gpio: spi-gpio {
                        compatible = "spi-gpio";
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mosi-gpios = <&tlmm 35 GPIO_ACTIVE_HIGH>;
                        miso-gpios = <&tlmm 31 GPIO_ACTIVE_HIGH>;
                        sck-gpios = <&tlmm 32 GPIO_ACTIVE_HIGH>;
                        cs-gpios = <&tlmm 33 GPIO_ACTIVE_LOW
                                    &tlmm 30 GPIO_ACTIVE_LOW
                                    >;

                        num-chipselects = <2>;
                        spi-max-frequency = <57600000>;
                        status = "ok";

                        spidev@0 {
                                compatible = "qti,spidev";
                                reg = <0>;
                                spi-max-frequency = <57600000>;
                                ctrl-gpios = <&tlmm 29 GPIO_ACTIVE_LOW>, <&tlmm 28 GPIO_ACTIVE_LOW>;
                        };
                        spidev@1 {
                                compatible = "qti,spidev";
                                reg = <1>;
                                spi-max-frequency = <57600000>;
                        };
                };
                */
                /* wangyaoyang : GPIO configuration for Radio-SPI driver */
                radio_spi: radio-spi {
                    compatible = "aicom,radio-spi";
                    cs-gpios = <&tlmm 22 GPIO_ACTIVE_LOW>,
                               <&tlmm 31 GPIO_ACTIVE_LOW>,
                               <&tlmm 32 GPIO_ACTIVE_LOW>;  /* 三个片选引脚 */
                    sck-gpios = <&tlmm 33 GPIO_ACTIVE_HIGH>;
                    mosi-gpios = <&tlmm 34 GPIO_ACTIVE_HIGH>;
                    miso-gpios = <&tlmm 35 GPIO_ACTIVE_HIGH>;

                    spi-slave1 {
                        compatible = "aicom,spi-slave1";
                        reg = <0>;  // 从设备ID
                        spi-max-frequency = <1000000>; // 1MHz
                        spi-cpol = <0>; // CPOL=0
                        spi-cpha = <0>; // CPHA=0
                    };

                    spi-slave2 {
                        compatible = "aicom,spi-slave2";
                        reg = <1>;  // 从设备ID
                        spi-max-frequency = <5000000>; // 5MHz
                        spi-cpol = <1>; // CPOL=1
                        spi-cpha = <1>; // CPHA=1
                    };

                    spi-slave3 {
                        compatible = "aicom,spi-slave3";
                        reg = <2>;  // 从设备ID
                        spi-max-frequency = <2000000>; // 2MHz
                        spi-cpol = <1>; // CPOL=1
                        spi-cpha = <0>; // CPHA=0
                    };
                };
	};
};

/* wangyaoyang:
 * emmc and nand-flash are claiming same GPIO pins
 * only one of them can be enabled at one time
&sdhc_1 {
	pinctrl-0 = <&emmc_pins>;
	pinctrl-names = "default";
	status = "ok";
};
 */

&i2c_0 {
	pinctrl-0 = <&i2c_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&tlmm {
        /* wangyaoyang:
         * emmc and nand-flash are sharing same GPIO pins
         * only one of them can be enabled at one time
	emmc_pins: emmc_pins {
		emmc_clk {
			pins = "gpio9";
			function = "sdc1_clk";
			drive-strength = <8>;
			bias-disable;
		};

		emmc_cmd {
			pins = "gpio8";
			function = "sdc1_cmd";
			drive-strength = <8>;
			bias-pull-up;
		};

		emmc_data {
			pins = "gpio4", "gpio5", "gpio6", "gpio7";
			function = "sdc1_data";
			drive-strength = <8>;
			bias-disable;
		};
	};
         */
};
